<p id="notice"><%= notice %></p>

<h1>Divisions</h1>

<table id="DivisionDataTables" data-source="<%= divisions_path(format: :json) %>" class="table table-bordered">
  <thead>
    <tr>
      <th>Department</th>
      <th>Division Name</th>
      <th>Employee</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Division', new_division_path %>
