<p id="notice"><%= notice %></p>

<h1></h1>

<table id="TwhDataTables" data-source="<%= twhs_path(format: :json) %>" class="table table-bordered">
  <thead>
    <tr>
      <th>Area</th>
      <th>Pic date</th>
      <th>Wh</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'NEW', new_twh_path, :class => "btn btn-primary btn-lg" %>
