<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table id="ItemDataTables" data-source="<%= items_path(format: :json) %>" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'NEW', new_item_path, :class => "btn btn-primary btn-lg" %>
