<!DOCTYPE html>
<html>
<head>
<title>FURNILAC PRIMAGUNA, PT.</title>
<link href="stylesheets/jquery-ui.css.erb" rel="stylesheet" type="text/css">
</head>
<body>
<h3><center><b>LAPORAN PRODUKTIVITAS PRODUKSI PERSON </b></center></h3>
<center>
  <table width="600px">
    <tr>
      <td><b>WH :
        <% total_wh = 0 %>
        <% @data_report_person_wh.each do |pic| %>
          <% total_wh += pic.wh %>
          <% end %>
        <%=  total_wh %></b>
      </td>
    </tr>
</table>
<br>
<!-- <p>Show With Range Date -->
<br><br><br>
<script type="text/javascript">
  $( "#start" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>

<script type="text/javascript">
  $( "#end" ).datepicker({
    dateFormat: 'dd-mm-yy',
    inline: true
  });
</script>
</body>
</html>
